[submodule "l10n-dominicana"]
	path = l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git

[submodule "ks-dashboard-ninja"]
	path = ks-dashboard-ninja
	url = git@github.com:xmarts/ks-dashboard-ninja.git
	branch = V13

[submodule "ks-custom-report"]
	path = ks-custom-report
	url = git@github.com:xmarts/ks-custom-report.git
	branch = master

[submodule "xmarts_dgii_reports"]
	path = xmarts_dgii_reports
	url = git@github.com:xmarts/xmarts_dgii_reports.git
	branch = v2
[submodule "full_accounting_kit"]
	path = full_accounting_kit
	url = git@github.com:xmarts/full_accounting_kit.git
[submodule "Jasper-Report-Integration"]
	path = Jasper-Report-Integration
	url = git@github.com:xmarts/Jasper-Report-Integration.git
[submodule "Client-Action-File-Download"]
	path = Client-Action-File-Download
	url = git@github.com:xmarts/Client-Action-File-Download.git
